<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aplestore.dao.OrderMapper">

  <resultMap id="orderResultMap" type="OrderDTO">
    <id column="id" property="id"/>
    <result column="user_id" property="userId"/>
    <result column="order_amount" property="orderAmount"/>
    <result column="created_at" property="createdAt"/>
  </resultMap>

  <resultMap id="OrderDetailWithModelOptionResultMap" type="OrderDetailDTO">
    <id property="id" column="od_id"/>
    <result property="modelOptionId" column="model_option_id"/>
    <result property="orderId" column="order_id"/>
    <result property="orderQuantity" column="order_quantity"/>
    <result property="orderPrice" column="order_price"/>

    <!-- 중첩된 DTO 매핑 -->
    <association property="modelOption" javaType="ProductModelOptionDTO">
      <id property="id" column="mo_id"/>
      <result property="optionalModelPrice" column="optional_model_price"/>
      <result property="color" column="color"/>
      <result property="ram" column="ram"/>
      <result property="size" column="size"/>
    </association>
  </resultMap>


  <select id="selectAvailableYears" resultType="int">
    SELECT DISTINCT YEAR (created_at)
    FROM orders
    ORDER BY YEAR (created_at) DESC
  </select>

  <select id="selectMonthlySales" resultType="OrderDTO">
    SELECT
      MONTH(o.created_at) AS month,
      COALESCE(SUM(od.order_price * od.order_quantity), 0) AS totalSales
    FROM orders o
      LEFT JOIN orderdetails od ON o.id = od.order_id
    WHERE YEAR(o.created_at) = #{year}
    GROUP BY MONTH(o.created_at)
    ORDER BY MONTH(o.created_at)
  </select>

  <select id="getSalesByDateRange" resultMap="orderResultMap">
    SELECT
      o.id,
      o.user_id,
      o.order_amount,
      o.created_at,
      MONTH(o.created_at) AS month,
      o.order_amount AS total_sales
    FROM orders o
    WHERE o.created_at BETWEEN #{startDate} AND #{endDate}
    ORDER BY o.created_at DESC
  </select>

  <select id="selectBoardListCount" resultType="_int">
    select
      count(*)
    from
      orders
  </select>

  <select id="selectBoardList" resultMap="orderResultMap">
    select
      id,
      user_id,
      order_amount,
      created_at,
    from
      orders
    order by
      board_no desc
      limit
      #{offset}, #{display}
  </select>

  <select id="selectAllOrders" resultType="OrderDTO">
    SELECT
        id, user_id AS userId
         , order_amount AS orderAmount
         , created_at AS createdAt
    FROM
        orders
    ORDER BY
        created_at DESC
  </select>

  <select id="selectOrdersByPeriod" resultType="OrderDTO">
    SELECT
        id
         , user_id AS userId
         , order_amount AS orderAmount
         , created_at AS createdAt
    FROM
        orders
    WHERE
        created_at BETWEEN #{startDate} AND #{endDate}
    ORDER BY
        created_at DESC
  </select>

  <!-- 주문 단건 조회 -->
  <select id="selectOrderById" resultType="OrderDTO">
    SELECT id, user_id AS userId, order_amount AS orderAmount, created_at AS createdAt
    FROM orders
    WHERE id = #{orderId}
  </select>

  <!-- 주문 상세 조회 + 옵션 조인 -->
  <select id="selectOrderDetailsByOrderId" resultMap="OrderDetailWithModelOptionResultMap">
    SELECT
      od.id,
      od.model_option_id,
      od.order_id,
      od.order_quantity,
      od.order_price,
      mo.id AS mo_id,
      mo.color,
      mo.ram,
      mo.size
    FROM orderdetails od
           LEFT JOIN model_options mo ON od.model_option_id = mo.id
    WHERE od.order_id = #{orderId}
  </select>




</mapper>