<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aplestore.dao.UserMapper">

  <resultMap id="userResultMap" type="com.aplestore.dto.UserDTO">
    <id property="id" column="id"/>
    <result property="userId" column="user_id"/>
    <result property="userPwd" column="user_pwd"/>
    <result property="userName" column="user_name"/>
    <result property="userPhone" column="user_phone"/>
    <result property="userAddress" column="user_address"/>
    <result property="userMail" column="user_mail"/>
    <result property="userPoint" column="user_point"/>
    <result property="userStatus" column="user_status"/>
    <result property="createdAt" column="created_at"/>
    <result property="modifiedAt" column="modified_at"/>
  </resultMap>

  <select id="getAllUsers" resultMap="userResultMap">
    SELECT * FROM users
  </select>

  <select id="getUserById" resultMap="userResultMap" parameterType="int">
    SELECT * FROM users WHERE id = #{id}
  </select>

  <insert id="insertUser" parameterType="com.aplestore.dto.UserDTO">
    INSERT INTO users (
      user_id, user_pwd, user_name, user_phone, user_address,
      user_mail, user_point, user_status, created_at, modified_at
    ) VALUES (
               #{userId}, #{userPwd}, #{userName}, #{userPhone}, #{userAddress},
               #{userMail}, #{userPoint}, #{userStatus}, NOW(), NOW()
             )
  </insert>

  <update id="updateUser" parameterType="com.aplestore.dto.UserDTO">
    UPDATE users
    SET user_pwd = #{userPwd},
        user_name = #{userName},
        user_phone = #{userPhone},
        user_address = #{userAddress},
        user_mail = #{userMail},
        user_point = #{userPoint},
        user_status = #{userStatus},
        modified_at = NOW()
    WHERE id = #{id}
  </update>

  <delete id="deleteUser" parameterType="int">
    DELETE FROM users WHERE id = #{id}
  </delete>

<!--  검색 기능-->
  <select id="searchUsers" resultMap="userResultMap">
    SELECT * FROM users
    WHERE 1=1
    <if test="keyword != null and keyword != ''">
      AND (user_id LIKE CONCAT('%', #{keyword}, '%')
      OR user_name LIKE CONCAT('%', #{keyword}, '%'))
    </if>
    <if test="status != null and status != ''">
      AND user_status = #{status}
    </if>
  </select>


</mapper>
